<dx-chart
  [dataSource]="dataSource"
  title="Categories Chart"
  (onPointClick)="eventHandling($event)"
>
  <dxi-series
    argumentField="categoryName"
    valueField="value"
    type="bar"
    name="Product Count"
  ></dxi-series>
  <dxo-tooltip
    [enabled]="true"
    [customizeTooltip]="customizeTooltip"
  ></dxo-tooltip>
</dx-chart>
<dx-popup
  #popup
  [hideOnOutsideClick]="true"
  contentTemplate="popup-content"
  [showTitle]="true"
>
  <div *dxTemplate="let data of 'popup-content'">
    <dx-data-grid [dataSource]="products" [showBorders]="true">
      <dxi-column dataField="ProductName"></dxi-column>
      <dxi-column dataField="QuantityPerUnit"></dxi-column>
      <dxi-column dataField="UnitsInStock"></dxi-column>
    </dx-data-grid>
  </div>
</dx-popup>
